<hr>
<div class="updateMember">
  <h6 *ngIf="listMembers.length>0">If you want update member, please click button"update the member"</h6>
  <form #updateForm="ngForm" (ngSubmit)="onSubmit(updateForm)" *ngIf="openWindow">
    <input
      type="text"
      class="form-control"
      ngModel
      name="firstName"
      required
      firstName
    >
    <input
      type="text"
      class="form-control"
      ngModel
      name="lastName"
      required
      lastName
    >
    <button
      class="btn btn-primary"
      type="submit"
      [disabled]="!updateForm.dirty"
    >
      Update member
    </button>
  </form>
</div>

