<div class="updateMember">
  <h6 *ngIf="listMembers.length>0">If you want update member of list, please click button <br> "update the member"</h6>
  <form #updateForm="ngForm" (ngSubmit)="onSubmit(updateForm)">
    <input
      type="text"
      class="form-control"
      ngModel
      name="firstName"
      required
      firstName
      [value]="member[0]"
    >
    <input
      type="text"
      class="form-control"
      ngModel
      name="lastName"
      required
      lastName
      [value]="member[1]"
    >
    <button
      class="btn btn-primary"
      type="submit"
      [disabled]="!updateForm.dirty"
    >
      Update member
    </button>
  </form>
</div>

