.updateMember{
  position: fixed;
  bottom: 0;
  font-family: 'Ubuntu Condensed', sans-serif;
  form{
    display: flex;
  }
  input{
    width: 30%;
  }
}
button{
  font-family: 'Ubuntu', sans-serif;
  font-size: 12px;
}
