.card-body{
  display: flex;
  width: 80%;
  justify-content: space-around;
  font-family: 'Ubuntu Condensed', sans-serif;
}

.buttonWrapper{
  display: flex;
  button{
    height: 35px;
    font-size: 12px;
    font-family: 'Ubuntu', sans-serif;
    width: 33%;
  }
}

.list-wrapper{
  height: 80vh;
  overflow: auto;
}
.numbers{
  display: flex;
  justify-content: space-between;
  font-family: 'Ubuntu Condensed', sans-serif;
}

.clearStorage{
  position: fixed;
  bottom: 0;
  right: 0;
}

