.card-body{
  display: flex;
  width: 60%;
  justify-content: space-around;
  font-family: 'Ubuntu Condensed', sans-serif;
};

button{
  font-family: 'Ubuntu', sans-serif;
  font-size: 12px;
}

.memberCard-wrapper{
  height: 80vh;
  overflow: auto;
}